.container, .nav, .navList {
    display: flex;
}

.headers, .nav{
    margin: 20px;
}

.headerText, .navText {
    color: #E4CE8C;
    text-decoration: none;
}

.navText:hover {
    color: white;
}

.container {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
}

.headers{
    width: 30%;
    height: 100px;
}

.headerText, .subHeaderText{
    margin-top: 10px;
    margin-bottom: 10px;
}

.subHeaderText {
    font-weight: 100;
}

.nav {
    width: 60%;
    justify-content: flex-end;
}

.navList {
    background-color: #4D4F4E;
    height: 50px;
    border-radius: 15px;
    padding: 0;
    list-style: none;
    align-items: center;
}

.navText{
    margin-left: 10px;
    margin-right: 10px;
}

.logoCss{
    width: 80px;
    height: 80px;
    border-radius: 20px;
}

